In [1]:
import pandas as pd

In [17]:
# 사용자-영화평점 기반 데이터
rating_data = pd.read_csv("./moviedata/ratings.csv")

# 영화 정보 데이터
movie_data = pd.read_csv("./moviedata/movies.csv")

In [18]:
rating_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [19]:
movie_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
print(rating_data.shape)
print(movie_data.shape)

(100836, 4)
(9742, 3)

In [22]:
rating_data.drop('timestamp', axis=1, inplace=True)
rating_data.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [23]:
movie_data.drop("genres", axis=1, inplace=True)
movie_data.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [24]:
user_movie_data = pd.merge(rating_data, movie_data, on = 'movieId')
user_movie_data.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [25]:
print(user_movie_data.shape)

(100836, 4)

In [26]:
# convert pivot table
user_movie_rating = user_movie_data.pivot_table('rating', index='userId', columns='title').fillna(0)

In [27]:
user_movie_rating.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
user_movie_rating.shape

(610, 9719)

In [28]:
# 특정 영화와 비슷한 영화를 추천
# user-movie를 movie-user data로 convert
movie_user_rating = user_movie_rating.values.T
movie_user_rating.shape

(9719, 610)

In [32]:
from sklearn.decomposition import TruncatedSVD

In [33]:
SVD = TruncatedSVD(n_components=12)

In [35]:
matrix = SVD.fit_transform(movie_user_rating)
matrix.shape

(9719, 12)

In [36]:
matrix[0]

array([ 0.55545972,  0.80875372, -0.37064083, -0.06647855,  0.63086205,
       -1.00612439, -0.25792982, -0.83623894, -0.78486145,  0.26958254,
       -0.52322755,  0.62314201])

In [38]:
movie_title = user_movie_rating.columns
movie_title_list = list(movie_title)
coffey_hands = movie_title_list.index("Guardians of the Galaxy (2014)")

In [39]:
import numpy as np

In [40]:
corr = np.corrcoef(matrix)
corr.shape

(9719, 9719)

In [41]:
corr_coffey_hands = corr[coffey_hands]

In [42]:
list(movie_title[(corr_coffey_hands) >= 0.9])[:50]

['Adjustment Bureau, The (2011)',
 'Amazing Spider-Man, The (2012)',
 'Ant-Man (2015)',
 'Avatar (2009)',
 'Avengers, The (2012)',
 'Avengers: Age of Ultron (2015)',
 'Big Hero 6 (2014)',
 'Brave (2012)',
 'Captain America: Civil War (2016)',
 'Captain America: The First Avenger (2011)',
 'Captain America: The Winter Soldier (2014)',
 'Cloud Atlas (2012)',
 'Cloudy with a Chance of Meatballs (2009)',
 'Dark Knight Rises, The (2012)',
 'Deadpool (2016)',
 'Despicable Me (2010)',
 'District 9 (2009)',
 'Django Unchained (2012)',
 'Doctor Strange (2016)',
 'Edge of Tomorrow (2014)',
 "Ender's Game (2013)",
 'Fantastic Beasts and Where to Find Them (2016)',
 'Grand Budapest Hotel, The (2014)',
 'Gravity (2013)',
 'Guardians of the Galaxy (2014)',
 'Guardians of the Galaxy 2 (2017)',
 'Harry Potter and the Deathly Hallows: Part 1 (2010)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Hobbit: An Unexpected Journey, The (2012)',
 'Hobbit: The Desolation of Smaug, The (2013)',
 'How to Train Your Dragon (2010)',
 'Hugo (2011)',
 'Inside Out (2015)',
 'Iron Man (2008)',
 'Iron Man 2 (2010)',
 'Iron Man 3 (2013)',
 'John Wick (2014)',
 'Jurassic World (2015)',
 'Kingsman: The Golden Circle (2017)',
 'Kingsman: The Secret Service (2015)',
 'Kung Fu Panda (2008)',
 'Kung Fu Panda 2 (2011)',
 'Life of Pi (2012)',
 'Logan (2017)',
 'Lone Ranger, The (2013)',
 'Looper (2012)',
 'Mad Max: Fury Road (2015)',
 'Man of Steel (2013)',
 'Maze Runner, The (2014)',
 'Men in Black III (M.III.B.) (M.I.B.³) (2012)']