In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import TruncatedSVD

In [2]:
# 사용자-영화평점 기반 데이터
rating_data = pd.read_csv("./moviedata/ratings.csv")

# 영화 정보 데이터
movie_data = pd.read_csv("./moviedata/movies.csv")

In [4]:
user_movie_rating = rating_data.pivot(
    index="userId",
    columns="movieId",
    values="rating"
).fillna(0)

In [5]:
user_movie_rating

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
matrix = user_movie_rating.to_numpy()

In [10]:
user_ratings_mean = np.mean(matrix, axis=1)

In [12]:
matrix_user_mean = matrix - user_ratings_mean.reshape(-1,1)

In [13]:
matrix

array([[4. , 0. , 4. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       [0. , 0. , 0. , ..., 0. , 0. , 0. ],
       ...,
       [2.5, 2. , 2. , ..., 0. , 0. , 0. ],
       [3. , 0. , 0. , ..., 0. , 0. , 0. ],
       [5. , 0. , 0. , ..., 0. , 0. , 0. ]])

In [15]:
pd.DataFrame(matrix_user_mean, columns = user_movie_rating.columns).head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,3.895825,-0.104175,3.895825,-0.104175,-0.104175,3.895825,-0.104175,-0.104175,-0.104175,-0.104175,...,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175,-0.104175
1,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,...,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775,-0.011775
2,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,...,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770,-0.009770
3,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,...,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980,-0.078980
4,3.983546,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,...,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454,-0.016454

In [17]:
from scipy.sparse.linalg import svds

In [18]:
U, sigma, Vt = svds(matrix_user_mean, k = 12)

In [19]:
print(U.shape)
print(sigma.shape)
print(Vt.shape)

(610, 12)
(12,)
(12, 9724)

In [20]:
sigma = np.diag(sigma)

In [22]:
sigma.shape

(12, 12)

In [23]:
sigma[0]

array([107.04782929,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ])

In [24]:
svd_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)

In [26]:
df_svd_preds = pd.DataFrame(svd_user_predicted_ratings, columns = user_movie_rating.columns)

In [34]:
def recommend_movies(df_svd_preds, user_id, ori_movies_df, ori_ratings_df, num_recommentations=5):
        user_row_number = user_id - 1
        sorted_user_predictions = df_svd_preds.iloc[user_row_number].sort_values(ascending=False)
        user_data = ori_ratings_df[ori_ratings_df.userId == user_id]
        
        user_history = user_data.merge(ori_movies_df, on="movieId").sort_values(['rating'], ascending=False)
        
        recommendations = ori_movies_df[~ori_movies_df['movieId'].isin(user_history['movieId'])]
        recommendations = recommendations.merge(pd.DataFrame(sorted_user_predictions).reset_index(), on="movieId")
        recommendations = recommendations.rename(columns={user_row_number: "Predictions"}).sort_values("Predictions", ascending=False)
        
        return user_history, recommendations

In [36]:
already_rated, predictions = recommend_movies(df_svd_preds, 330, movie_data, rating_data, 10)

In [45]:
already_rated

,userId,movieId,rating,timestamp,title,genres
246,330,79702,5.0,1285903928,Scott Pilgrim vs. the World (2010),Action|Comedy|Fantasy|Musical|Romance
155,330,2324,5.0,1285904320,Life Is Beautiful (La Vita è bella) (1997),Comedy|Drama|Romance|War
208,330,4886,5.0,1285905314,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy
204,330,4226,5.0,1285904361,Memento (2000),Mystery|Thriller
202,330,4022,5.0,1285905457,Cast Away (2000),Drama
...,...,...,...,...,...,...
77,330,788,0.5,1285905333,"Nutty Professor, The (1996)",Comedy|Fantasy|Romance|Sci-Fi
12,330,104,0.5,1285905407,Happy Gilmore (1996),Comedy
33,330,344,0.5,1285904970,Ace Ventura: Pet Detective (1994),Comedy
43,330,435,0.5,1285905603,Coneheads (1993),Comedy|Sci-Fi
40,330,377,0.5,1285904976,Speed (1994),Action|Romance|Thriller

In [46]:
predictions

,movieId,title,genres,Predictions
408,527,Schindler's List (1993),Drama|War,4.255811
1146,1704,Good Will Hunting (1997),Drama|Romance,3.033801
3405,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,2.852480
707,1036,Die Hard (1988),Action|Crime|Thriller,2.675696
817,1221,"Godfather: Part II, The (1974)",Crime|Drama,2.613103
...,...,...,...,...
7797,99112,Jack Reacher (2012),Action|Crime|Thriller,-0.315775
6747,67923,"Fast & Furious (Fast and the Furious 4, The) (...",Action|Crime|Drama|Thriller,-0.316856
8432,122922,Doctor Strange (2016),Action|Adventure|Sci-Fi,-0.324997
7662,95510,"Amazing Spider-Man, The (2012)",Action|Adventure|Sci-Fi|IMAX,-0.329779
7655,95441,Ted (2012),Comedy|Fantasy,-0.390358